@use 'global/mixins' as m;
@use 'global/variables' as v;

@include m.desktop{
    .contenido-principal {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contenedor-imagen-recortada {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-top: 10rem;
        margin-left: -40rem;
        clip-path: circle(30% at 70% 50%);

        @include m.telefono{
            margin-left: -20rem;
            width: 80%;
            height: 80%;
        }
     
        @include m.desktop{
            width: 100%;
            height: 100%;
        }

        
    }

}

.cuadro-decorativo-inicio {

    @include m.telefono {
        color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 5rem;

        .cuadro-palabras-decorativas {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include m.telefono {
                font-size: 6rem;
            }

            @include m.tablet {
                font-size: 10rem;
            }

            background-color: rgba($color: #000000, $alpha: 0.25);

            @include m.telefono {
                line-height: 0;

                p {
                    padding-top: 5rem;
                    margin-top: -1rem;
                }
            }
        }

    }

    @include m.desktop {

        margin: 0rem;

        justify-content: center;


        .cuadro-palabras-decorativas {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            opacity: 1;
            width: 100%;
            font-size: 8rem;
            color: white;
            margin: 1rem;
            line-height: 1;
            //Quitamos el fondo
            background-color: rgba($color: #000000, $alpha: 0);


            &:hover {
                cursor: pointer;
            }

            p {
                padding-top: -10rem;
                margin: 1rem;
                text-shadow: 0 0 80px rgba(255, 255, 255, .5);
                text-transform: uppercase;
            }
        }
    }
}
#cuadro-contenido{
  
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Añade transición para el cambio de color de fondo */

}
#cuadro-contenido:hover {
    background-color: rgba($color: #000000, $alpha: 0.25);
    border-radius: 10px;
}

.initial {
    transform: translateY(0); /* Posición inicial sin desplazamiento */
    transition: transform 0.3s ease; /* Transición suave para el desplazamiento */
}

