@use 'global/mixins' as m;
@use 'global/variables' as v;

.categoria-personaje-seleccionado {

    display: flex;

    @include m.telefono {
        flex-direction: column;
    }

    @include m.desktop {
        flex-direction: row;

    }

    align-items: center;
    justify-content: space-between;
    text-align: justify;

    .contenedor-imagen-personaje {
        margin: 2rem;
        padding: 2rem;
        background-color: rgba(0, 0, 0, .9);
        border-radius: 1rem;
        width: fit-content;

        img {

            @include m.telefono {
                width: 337px;
                height: 363px;
                border-radius: 1rem;
            }

            @include m.desktop {
                width: 654px;
                height: 727px;
                border-radius: 1rem;
            }


        }

    }

    .informacion-personaje {
        padding: 2rem;
        margin: 2rem;
        background-color: rgba(0, 0, 0, .7);
        border-radius: 1rem;

        .bg-borde-gris {
            padding: .5rem;
            background-color: gray;
            border-radius: 1rem;
        }

        .bg-borde-blanco {
            margin: .5rem;
            padding: 2rem;
            background-color: white;
            border-radius: 1rem;

            h1 {
                text-align: center;
                font-size: 2.5rem;
            }

            p {
                font-size: 1.6rem;
            }

            a {
                font-size: 1.6rem;
                text-decoration: none;
                color: red;
            }
        }
    }
}

.imagenes-extra {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .contenedor-imagenes-extra {
        margin: 2rem;
        padding: 2rem;
        display: flex;
        justify-content: space-around;

        @include m.telefono {
            flex-direction: column;
        }

        @include m.desktop {
            flex-direction: row;
        }




        .contenido-contenedor-imagenes {
            padding: 2rem;
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(0, 0, 0, .9);
            border-radius: 1rem;

            h2 {
                font-size: 2rem;
            }

            a {
                color: red;
                font-style: none;
            }
            .contenido-img-cont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            table {
                padding: 2rem;
                font-size: 2rem;

                thead {
                    background-color: rgba(0, 0, 0, .7);
                    color: white;}

                td {
                    padding: 1rem;
                }
            }
        }

    }
}