@use 'global/variables' as v;
@use 'global/mixins' as m;

@keyframes moveGroups {


    100% {
        transform: unset;
    }
}

.descripcion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contenido-descripcion {
        margin-top: 2rem;
        background-color: rgba($color: #000000, $alpha: 0.4);
        padding: 2rem;
        border-radius: 1rem;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
        margin: 2rem;
        color: white;

    }

    p {
        font-size: 2rem;
        text-align: center;
        margin: 2rem;
        color: white;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        margin: 2rem;
        color: white;
    }
}

.contenedor-svg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#Vector,
#Vector_5,
#Vector_12 {
    transform: translate(56%, 36%);
    animation: moveGroups 2s ease-in-out 1s forwards;
}

#Vector_2,
#Vector_6,
#Vector_10 {
    transform: translate(52%);
    animation: moveGroups 2s ease-in 1s forwards;
}

#Vector_4,
#Vector_9 {
    transform: translate(41%);
    animation: moveGroups 2s ease-in-out 1s forwards;
}

#Vector_7,
#Vector_3 {
    transform: translate(86%, 96%);
    animation: moveGroups 2s ease-in-out 1s forwards;
}

#Vector_8,
#Vector_11 {
    transform: translate(37%);
    animation: moveGroups 2s ease-in-out 1s forwards;
}






.seccion-texto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include m.telefono {
        width: 100%;
        font-size: 1.6rem;

        iframe {
            width: 300px;
            height: 180px;
        }

        .cuadro-seccion-primario-presentacion {
            background-color: gainsboro;
            margin: 5rem;
            border-radius: 1rem;
            width: 80%;


            .cuadro-seccion-secundario-presentacion {
                display: flex;
                flex-direction: column;
                border-radius: 1rem;
                margin: 0.5rem;
                padding: 2rem;
                background-color: v.$blanco;
                height: 125rem;

                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.05;
                }


                article {

                    position: absolute;
                    width: 70%;
                    height: auto;


                    h1 {
                        font-size: 4rem;
                        margin-top: -1rem;
                        padding: 1rem;
                        text-transform: uppercase;
                        font-family: v.$fuente_cursiva;
                    }

                    h2 {
                        font-size: 3rem;
                        text-transform: uppercase;
                    }

                    .articulo--presentacion {
                        padding: 1rem;
                        font-size: 2rem;
                        line-height: 2.4rem;
                        text-align: justify;
                    }
                }
            }
        }

        .enlaces-presentacion {
            display: flex;
            background-color: gainsboro;
            margin: 15rem;
            margin-left: 20rem;
            border-radius: 1rem;

            .cuadro-enlaces-presentacion {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                border-radius: 1rem;
                margin: 0.5rem;
                padding: 1rem;
                background-color: v.$blanco;


                article {
                    .lista {
                        display: flex;

                        flex-direction: column;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 2rem 10rem;
                        padding: 1rem;
                        text-align: justify;


                        div {
                            display: flex;
                            margin: 1rem;
                            width: fit-content;
                            flex-wrap: nowrap;
                            align-items: center;
                            margin-top: 4rem;
                        }
                    }

                    img {

                        width: 10rem;
                        height: 10rem;
                        opacity: 1;
                    }
                }
            }
        }
    }

    @include m.tablet {
        iframe {
            width: 560px;
            height: 315px;
        }

        .cuadro-seccion-primario-presentacion {
            .cuadro-seccion-secundario-presentacion {
                height: 90rem;
            }
        }
    }


    @include m.desktop {
        width: 100%;
        font-size: 1.6rem;

        iframe {
            width: 1120px;
            height: 630px;
        }

        .cuadro-seccion-primario-presentacion {
            background-color: gainsboro;
            margin: 15rem;
            border-radius: 1rem;
            width: 80rem;

            .cuadro-seccion-secundario-presentacion {
                height: auto;
                display: flex;
                flex-direction: column;
                border-radius: 1rem;
                margin: 0.5rem;
                padding: 3rem;
                background-color: v.$blanco;

                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.05;
                }


                article {

                    position: absolute;
                    width: 70rem;
                    height: auto;

                    h1 {
                        font-size: 4rem;
                        margin-top: -1rem;
                        padding: 1rem;
                        text-transform: uppercase;
                        font-family: v.$fuente_cursiva;
                    }

                    h2 {
                        font-size: 3rem;
                        text-transform: uppercase;
                    }

                    .articulo--presentacion {
                        padding: 1rem;
                        font-size: 2rem;
                        line-height: 2.4rem;
                        text-align: justify;
                    }
                }
            }
        }

        .enlaces-presentacion {
            display: flex;
            background-color: gainsboro;
            margin: 15rem;
            margin-left: 20rem;
            border-radius: 1rem;

            .cuadro-enlaces-presentacion {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                border-radius: 1rem;
                margin: 0.5rem;
                padding: 1rem;
                background-color: v.$blanco;


                article {
                    .lista {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 1rem;

                        div {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            align-items: center;
                            margin-top: 4rem;
                            margin: 4rem;
                        }
                    }

                    img {

                        width: 14rem;
                        height: 14rem;
                        opacity: 1;
                    }
                }
            }
        }
    }
}