@use 'variables' as v;
@use 'mixins' as m;

html {
    // Convierte un rem en 10px
    font-size: 62.5%;

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {

    @include m.telefono {
        background-image: url(../img/cartel-movil.webp);
        
    }

    @include m.desktop {
        background-image: url(../img/portada.webp);
        
    }


    background-attachment: fixed;
    font-family: v.$fuente_open;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: v.$negro;

}