@use 'global/mixins' as m;


.barra {
    display: flex;


    @include m.telefono {
        flex-direction: row;
        margin-top: -6rem;
        align-items: center;
        justify-content: center;


    }

    @include m.tablet {
        margin-top: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @include m.desktop {
        margin-top: 0rem;
    }


    .contenedor-imagen-logo {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

       
    }
}